body {
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%)
   
}

header {
    background-color: #00aa99;;
    opacity: 0.7;
    font-family: 'Bangers', 'arial';
    font-size: 19px;
    color: black;
}

ul {
    list-style: none;
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 3px  aquamarine;
    background-color:  #00aa99;
    opacity: 0.8;
}

ul li {    
    display: inline-block;
    font-family: 'Bangers', 'arial';
    
}
ul li:hover {
    background-color: aquamarine;
}

.fase_i
{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.fase_v
{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}
a {
    text-decoration: none;
    color: black;
    height: 25px;    
}

footer {
    background-color: #00aa99;
    font-family: 'Bangers', 'arial';;
    font-size: 20px;
    color:#000000;
    opacity: 0.7;
}
section {
    color: #0af;
}


#footer_container {
    background-color:aqua;
}