* {
    padding: 0px;
    margin: 0px;
}
@media (min-width: 1200px) and (max-width: 1500px) {
    #the-body {
        display: flex;
        flex-direction: column;
    }

    .cronograma {
        height: 249px;
    }

    .estrategias {
        height: 249px;
    }


    #header_nav_container {
        position: static;
    }
    #footer_container {
        position: static;
        margin-top: 25px;
    }
    
    header {
        text-align: center;
        height: 23vh;
        padding-top: 9px;
        box-sizing: border-box;
    }

    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ul {
        width: 500px;
        height: 30px;
        display: flex;       
        justify-content: space-around;
       
    }

    ul li {
        width: 20%;
        padding: 7px;
        
        text-align: center;
        
        
        
    }

    footer {
        
        height: 125px;
        width: 100%;
        
    }

    .general-info-uno {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        float: left;
        
    }
    .general-info-dos {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 300px;
        float: left;
    }
    #container {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-top: 15px;
    
    }
    section {
        width: 30%;
      
        
    }
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        margin: 10px;
    }
    .vision {
        position: relative;
        width: 100%;
            }
    .mision {
        position: relative;
        width: 100%;
        
    }
    .vp {
        height: 225px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #the-body {
        display: flex;
        flex-direction: column;
    }

    #header_nav_container {
        position: static;
    }
    #footer_container {
        position: static;
        margin-top: 25px;
    }
    
    header {
        text-align: center;
        height: 23vh;
        padding-top: 9px;
        box-sizing: border-box;
    }

    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ul {
        width: 500px;
        height: 30px;
        display: flex;       
        justify-content: space-around;
       
    }

    ul li {
        width: 20%;
        padding: 7px;
        
        text-align: center;
        
        
        
    }

    footer {
        
        height: 125px;
        width: 100%;
        
    }

    .general-info-uno {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        float: left;
        
    }
    .general-info-dos {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 300px;
        float: left;
    }
    #container {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-top: 15px;
    
    }
    section {
        width: 30%;
      
        
    }
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        margin: 10px;
    }
    .vision {
        position: relative;
        width: 100%;
        
    }
    .mision {
        position: relative;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #the-body {
        display: flex;
        flex-direction: column;
    }

    #header_nav_container {
        position: static;
    }
    #footer_container {
        position: static;
        margin-top: 25px;
    }
    
    header {
        text-align: center;
        height: 23vh;
        padding-top: 9px;
        box-sizing: border-box;
    }

    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ul {
        width: 500px;
        height: 30px;
        display: flex;       
        justify-content: space-around;
       
    }

    ul li {
        width: 20%;
        padding: 7px;
        
        text-align: center;
        
        
        
    }

    footer {
        
        height: 125px;
        width: 100%;
        
    }

    .general-info-uno {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        float: left;
        
    }
    .general-info-dos {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 300px;
        float: left;
    }
    #container {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-top: 15px;
    
    }
    section {
        /* ancho de la seccion */
        width: 40%;
      
        
    }
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        margin: 10px;
    }
    .vision {
        position: relative;
        width: 100%;
        
    }
    .mision {
        position: relative;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    #the-body {
        display: flex;
        flex-direction: column;
    }
    .cronograma {
        height: 190px;
    }

    #header_nav_container {
        position: static;
    }
    #footer_container {
        position: static;
        margin-top: 25px;
    }
    
    header {
        text-align: center;
        height: 23vh;
        padding-top: 9px;
        box-sizing: border-box;
    }

    nav {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ul {
        width: 500px;
        height: 30px;
        display: flex;       
        justify-content: space-around;
       
    }

    ul li {
        width: 20%;
        padding: 7px;
        
        text-align: center;
        
        
        
    }

    footer {
        
        height: 125px;
        width: 100%;
        
    }

    .general-info-uno {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        float: left;
        
    }
    .general-info-dos {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 300px;
        float: left;
    }
    #container {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-top: 15px;
    
    }
    section {
        /* ancho de la seccion */
        width: 55%;
      
        
    }
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        margin: 10px;
    }
    .vision {
        position: relative;
        width: 100%;
        
    }
    .mision {
        position: relative;
        width: 100%;
    }
}
@media (max-width: 575px) {
    #the-body {
        display: flex;
        flex-direction: column;
    }

    #header_nav_container {
        position: static;
    }
    #footer_container {
        position: sticky;
        margin-top: 50px;
    }
    header {
        text-align: center;
        height: 23vh;
        padding-top: 40px;
        box-sizing: border-box;
        font-size: 12px;
    }

    nav {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    ul {
        /* ancho del nav */
        width: 260px; 
        height: 45px;
        display: flex;       
        justify-content: space-around;
        
    }

    ul li {
        width: 20%;
        padding: 7px;
        font-size: 16px;
        text-align: center;

    }

    #container {
        display: block;
        justify-content: center;
        width: 100vw;
        
        padding-top: 15px;
        overflow: auto;
    
    }
    
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        margin: 10px;
    }
    .vision {
        position: relative;
        width: 100%;
        
    }
    .mision {
        position: relative;
        width: 100%;
        
    }

    footer {
        
        
        height: 125px;
        width: 100%;
      
        
    }

    .general-info-uno {
        font-size: 10px;
        padding-left: 20px;
        padding-top: 20px;
        float: left;
        
    }
    .general-info-dos {
        font-size: 8px;
        padding-left: 20px;
        padding-top: 20px;
        
        float: left;
    }

}